{% extends "layout.html" %} {% block content %}



<div class="embed-responsive embed-responsive-16by9 col-md-12">

      <iframe class="embed-responsive-item"  
       src="https://www.youtube.com/embed/Sagg08DrO5U?autoplay=1"
       align="center" id="videothumbnail"></iframe>

</div>
{% endblock %}