{% extends "layout.html" %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12 mg-b-30">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="static/img/GamerDealzHeader.png" alt="">
                        </div>

                        <div class="item">
                            <img src="static/img/PCMR.png" alt="">
                        </div>

                        <div class="item">
                            <img src="static/img/PCMRQuote.png" alt="">
                        </div>

                        <div class="item">
                            <img src="static/img/beeMovie.png" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mg-b-30">
            <div class="row" ng-repeat="list in topDeals">
                <div class="col-sm-4" ng-repeat="item in list">
                    <p>
                    <div class="shop-item">
                        <div class="photo">
                            <img ng-src="{{ '{{item.thumb}}' }}" class="img-responsive"  alt="a" />
                        </div>
                        <div class="info">
                            <div class="row text-center">
                                <div class="col-md-12 col-xs-12">
                                    <h5>{{ '{{item.title}}'}}</h5>
                                </div>
                            </div>
                            
                            <div class="row text-center">
                                
                                <div class="col-md-6 col-xs-6">
                                    <h5 class="price-text-color">${{ '{{item.salePrice}}'}}</h5>
                                </div>

                                <div class="col-md-6 col-xs-6">
                                    <h5>Total Savings: {{ '{{ item.savings }}' }}%</h5>
                                </div>
                            </div>
                            <div class="separator clear-left">
                                <p class="btn-add">
                                    <i class="fa fa-list"></i><a href ng-click="addGameToWishList(item.title)" class="hidden-sm">Add to Wishlist</a>
                                </p>
                                <p class="btn-details">
                                    <i class="fa fa-ellipsis-h"></i><a href class="hidden-sm">More details</a>
                                </p>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
                </p>
            </div>
            <!---->
        </div>
    </div>
</div>
<hr> {% endblock %}