<!DOCTYPE html>
<html ng-app="HackyApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GamerDealz</title>

    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="static/js/konami.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
    <script type="text/javascript" src="static/js/controller.js"></script>
    
</head>

<body ng-controller="HackyController">
    <script>
        var easter_egg = new Konami('https://hackdaythingy-cmpgamer.c9users.io/gandalf');
    </script>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/">GamerDealz</a>
            </div>
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                
                <li style="float:left;">
                    <a href="/about">About</a>
                </li>

                {% if not session.loggedin %}
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a id="loginButton" ng-click="loadLoginModal()">Login</a>
                </li>
                {% else %}
                <li>
                    <a href="/wishlist">Wishlist</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
            <ul style="float:right;">
                <li>
                    <form  name="search" method="POST" action="/search" ng-submit="search" style="padding-top: 1em;">
                        <input type="text" name="searchBox" id="searchBox" ng-model="searchBox" placeholder= "Search for Game Deals by Game Title!" style="text-align: right; width: 20em;" >
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">GamerDealz
                    <small>Find all of your great deals in one place!</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->



        {% block content %} {% endblock %}

        <div id="loginModal" class="modal fade" role="dialog">
            <div id="login-overlay" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Login to GamerDealz</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="well">
                                    <form id="loginForm" method="POST" action="/login" novalidate="novalidate">
                                        <div class="form-group">
                                            <label for="username" class="control-label">Username or Email</label>
                                            <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username or email" placeholder="example@gmail.com">
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="control-label">Password</label>
                                            <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                            <span class="help-block"></span>
                                        </div>
                                        <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                                        
                                        <button type="submit" class="btn btn-success btn-block">Login</button>
                                        
                                        <a href="/forgot" class="btn btn-default btn-block">Forgot password</a>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <p class="lead">Register now for <span class="text-success">FREE</span></p>
                                <ul class="list-unstyled" style="line-height: 2">
                                    <li><span class="fa fa-check text-success"></span> See current deals!</li>
                                    <li><span class="fa fa-check text-success"></span> Automatic alerts for deals!</li>
                                    <li><span class="fa fa-check text-success"></span> Save your favorites!</li>
                                </ul>
                                <p><a href="/register" class="btn btn-info btn-block">Yes please, register now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p><b>Copyright &copy; Hackathing 2016</b> All rights reserved. Hackathing is intellectual property Bryan Nosar.</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->


    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <script>
    
</script>
</body>

</html>