{% extends "layout.html" %} {% block content %}
<div style="float: absolute;">
    <div class="row mg-b-30" >
{% for item in searchResults %}
        <div class="shop-item" style="float: left; max-width: 40em; max-height: 30em">
            <div class="photo" >
                <img src="{{item.thumb}}" class="img-responsive"  style = "max-height: 140px" alt="a" />
            </div>
            <div class="info">
                <div class="row text-center">
                    <div class="col-md-12 col-xs-12">
                        <h5>{{item.title}}</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6 col-xs-6">
                        <h5 class="price-text-color">{{item.salePrice}}</h5>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <h5>Total Savings: {{ item.savings }} %</h5>
                    </div>
                </div>
                <div class="separator clear-left">
                    <p class="btn-add">
                        <i class="fa fa-list"></i><a href ng-click="addGameToWishList('{{item.title}}')" class="hidden-sm">Add to Wishlist</a>
                    </p>
                    <p class="btn-details">
                        <i class="fa fa-ellipsis-h"></i><a href class="hidden-sm">More details</a>
                    </p>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}