{% extends "layout.html" %} {% block content %}
<div class="row">
    <div class="col-md-9">
        {% if session['loggedin'] %}
            <h3>{{ session['username'] }}'s Wish List</h3>
            <!--<form ng-submit="addGameToWishList()">
                <input type="text" ng-model="game"/>
                <input type="text" ng-model="price"/>
                <input type="submit" value="Add Game"/>
            </form>-->
            {% if wishList %}
                <p>
                    {% for item in wishList %}
                        <p>
                            <div class="shop-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h5>{{item.game}}</h5>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-times"></i><a class="hidden-sm" href ng-click="removeGameFromWishList( '{{item.game}}' )">Remove from Wishlist</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-envelope-o"></i><a class="hidden-sm" href ng-click="remindMe( item.game )">Remind Me</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </p>
                    {% endfor %}
                </p>
            {% else %}
                <h3>Your wish list is empty.</h3>
            {% endif %}
        
        {% else %}
            <h3>You are not logged in!</h3>
        {% endif %}
        
    </div>
</div>
<hr> {% endblock %}